@model WebApplication7.Models.Pracownik

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj</title>
</head>
<body>

    Witaj adminie!


    <input type="button" value="Pracownicy" onclick="location.href='@Url.Action("Index", "Pracownicy")'"  />
    <input type="button" value="Trasy" onclick="location.href='@Url.Action("Index","Polaczenia")'"  />
</body>
</html>
